.head_title_container {
    width: 100%;
    /* padding: 10px 60px; */
    height: 160px !important;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.head_title_container h2::after {
    content: "";
    display: block;
    width: 60px;
    margin-top: 10px;
    height: 100%;
    border-bottom: 1px solid var(--orange-350);
}

/* @media (max-width:765px) {
    .head_title_container{
        align-items: center;
    }
} */