.main>article, .main>div, main>section {
    height: 100vh;
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.right_margin {
    margin-right: 87px;
}

.left_margin {
    margin-left: 87px;
}