.main>article, .main>div, main>section {
    height: 100vh;
    min-height: 700px;
    position: relative;
    display: flex;
    padding: 0 100px;
}

.skills_container {
    height: 90vh !important;
    min-height: 500px !important;
}

.right_margin {
    margin-right: 87px;
}

.left_margin {
    margin-left: 87px;
}