.img_background {
    background-image: url("../../assets/images/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
}

.dark_bg {
    filter: invert(86%) hue-rotate(-193deg) saturate(160%) grayscale(30%) brightness(103%) opacity(50%);
    -webkit-filter: invert(86%) hue-rotate(-193deg) saturate(160%) grayscale(30%) brightness(103%) opacity(50%);
}

.banner_description {
    display: flex;
    justify-content: center;
}

.banner_description>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_description>div>div {
    margin-bottom: 15px;
}